* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fuente{
    font-family: 'Montserrat', sans-serif;
    font: size 10vw;
}

:root {
    /* --color-red: #E63946;
    --color-white: #FFFFFF;
    --color-blue: #1d3557; */
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/* NadVar */
header {
    background-color: #1d3557;
}

.navigation {
    background-color: #1d3557;
    height: 70px;
    z-index: 1;
}

.logo {
    height: 70px;
    padding: 1em;
}

.full-nav {
    display: flex;
    justify-content: flex-end;
    padding: 0 1em;
}

.nav-li {
    padding: 0 1em;
}

.lol {
    height: 5%;
    background-color: #EC9A9A;
}

.lol2 {
    height: 5%;
    background-color: #E63946;
}
/* ---------------- */





/* .navigation-bar-container {
    font-family: fantasy;
    display: none;
    position: fixed;
    width: 100%;
    z-index: 4;
    height: 70px;
}

.navigation-bar {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    justify-content: center;
    background-color: var(--color-blue);
    width: 100%;
    height: 100%;
}

.navigation-bar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 33%;
    height: 100%;
    background-color: var(--color-blue);
}

.navigation-bar-link {
    display: flex;
    height: 100%;
    width: 100%;
    color: var(--color-white);
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.navigation-bar-item :hover{
    color: var(--color-red);
} */

.link-active {
    color: var(--color-red);
}

.container-fluid {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container-header {
    justify-content: flex-start;
    background: #1d3557;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: center;
    text-align: center;
    background-color: #1D3557;
    color: #F1FAEE;
    width: 100%;
    height: 70px;
}

.navbar{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.center {
    max-width: 100%;
    height: 500px;
    background-color: #F1FAEE;
}

.carousel img {
    width: 100%;
    height: 500px;
}

.productos-populares {
    max-width: 100%;
    height: 500px;
    background-color: #A8DADC;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .navigation {
    font-family: fantasy;
    background-color: #1d3557;
    height: 70px;
    z-index: 4;
    border-bottom: .5px solid var(--color-red);
    position: fixed;
}

.full-nav {
    display: flex;
    justify-content: flex-end;
    padding: 0 1em;
    height: 50px;
}

.nav-li {
    padding: 0 1em;
} */

.cards {
    display: flex;
    width: 100%;
    
}

.productos-populares {
    justify-content: center;
}

.full-card {
    margin: 20px;
    border-radius: 10px;
    background: #457B9D;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    border: none;   

}

/* .logo {
    height: 70px;
    background: #1d3557;
    padding: 1em;
    border-bottom: .5px solid var(--color-red);
} */

.products {
    background-color: #F1FAEE;
    flex-wrap: wrap;
    max-width: 100%;
}

.row {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-red);
    margin: 0;
}

.column {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.cards img {
    padding: 3em;
}

.card-title{
    color: #F1FAEE;
}

.card-text{
    color: #F1FAEE;
}

.final {
    display: flex;
    height: 70px;
    background: #1d3557;
    color: #F1FAEE;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
}

.hover-button {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: #1D3557;
    border: none;
    transition: all .3s;
}


.hover-button:hover {
    transform: scale(1.2);
    background-color: #b21224;
}

.card-body{
    max-width: 550px   ;
}

.producto-imagen {
    height: 400px;
}

.producto {
    justify-content: center;
}

@media screen and (min-width: 1px) and (max-width: 991px) {
    .column {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

    }

    /* .navigation {
        display: none;
    }

    .navigation-bar-container {
        display: flex;
    } */

    .card-body{
        max-width: 100%   ;
    }
    
}

