* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    justify-content: center;
    background-color: #E63946;
}

header {
    align-self: center;
    text-align: center;
    background-color: #E63946;
    color: #F1FAEE;
    width: 100%;
    height: 70px;
}

.nav {
    flex: end;
    width: 100%;
    background-color: #EC9A9A;
    height: 40px;
    margin: 2%;
}

.lol {
    height: 5%;
    background-color: #F1FAEE;
}

/* css Lucas */
.bajada_nav{
    height: 5%;
    background-color: #F1FAEE;
}

.body_producto{
    width: 100%;
    height: auto;
    background: #A8DADC;
}

.producto{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    background:#457B9D ;
}

.img_producto{
    justify-content: center;
    object-fit: contain ;
    text-align: center;
    width: 50%;
    max-width: 500px;
    margin: 5% auto; 
    margin-left: 5%;
    margin-right: 5%;
}

.img1{
    width: 100%;
    height: 100%;
}

.info_producto{
    height: auto;
    margin-bottom: 8%;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
} 

.titulo_producto{
    padding-bottom: 4%;
    text-align: center;
    color: #A8DADC;
}

.lista_producto{
    color: #A8DADC;
}

.boton_producto {
    background-color: #EC9A9A;
    font-family: 'Kaushan Script', cursive;
    color: #F1FAEE;
    border-color: #F1FAEE;
}
.boton_producto:hover{
    color: #EC9A9A;
    background-color: #AD2B35;
    text-decoration: none;
}

/* .boton_producto:visited{
    text-decoration: none;
    color: #457B9D;
} */

/* .boton_producto:link{
    text-decoration: none;
    color: #E63946;
} */

.boton_producto:active{
    text-decoration: none;
    color: #AD2B35;
}


/* FUENTE */
/* font-family: 'Kaushan Script', cursive; */

.fuente{
    font-family: 'Kaushan Script', cursive;
    font: size 10vw;
}

.checkbox_producto{
    color: #A8DADC;
}

.bajada_footer{
    height: 5%;
    background-color: #457B9D;
}

footer{
    background-color: #1B3151;
}

.contactos_producto{
    text-decoration:none;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 3%;
}

.link_producto{
    color: #A8DADC;
    text-decoration: none;
}

.link_producto:hover{
    color: #457B9D;
    text-decoration: none;
}

/* .link_producto:visited{
    text-decoration: none;
    color: #457B9D;
} */

/* .link_producto:link{
    text-decoration: none;
    color: #E63946;
} */

.link_producto:active{
    text-decoration: none;
    color: #457B9D;
}
