* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-red: #E63946;
    --color-white: #FFFFFF;
    --color-blue: #273c5a;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
/* NadVar */
header {
    background-color: #1d3557;
}

.navigation {
    background-color: #1d3557;
    height: 70px;
    z-index: 1;
}

.logo {
    height: 70px;
    padding: 1em;
}

.full-nav {
    display: flex;
    justify-content: flex-end;
    padding: 0 1em;
}

.nav-li {
    padding: 0 1em;
}

.lol {
    height: 5%;
    background-color: #EC9A9A;
}

.lol2 {
    height: 5%;
    background-color: #E63946;
}


/* --------------- */
/* .navigation-bar-container {
    font-family: fantasy;
    display: none;
    width: 100%;
    z-index: 4;
    position: fixed;
    height: 70px;
}

.navigation-bar {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    justify-content: center;
    background-color: var(--color-blue);
    width: 100%;
    height: 100%;
}

.navigation-bar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 33%;
    height: 100%;
    background-color: var(--color-blue);
}

.navigation-bar-link {
    display: flex;
    height: 100%;
    width: 100%;
    color: var(--color-white);
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.navigation-bar-item :hover{
    color: var(--color-red);
}

.link-active {
    color: var(--color-red);
}
*/
.container-fluid {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}
/*
.container-header {
    justify-content: center;
    background-color: var(--color-red);
}

header {
    align-self: center;
    text-align: center;
    background-color: var(--color-red);
    color: var(--color-white);
    width: 100%;
    height: 70px;
}

.nav {
    flex: end;
    width: 100%;
    background-color: #EC9A9A;
    height: 60px;
} */

.center {
    height: 500px;
    background-color: #F1FAEE;
}

.carousel img {
    width: 100%;
    height: 500px;
}

.productos-populares {
    width: 100%;
    height: 500px;
    background-color: #A8DADC;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-blue);
}

.navigation {
    font-family: fantasy;
    background-color: var(--color-blue);
    height: 70px;
    z-index: 4;
    border-bottom: .5px solid var(--color-red);
    position: fixed;
}

.logo {
    height: 70px;
    background: var(--color-blue);
    padding: 1em;
}

.full-nav {
    display: flex;
    justify-content: flex-end;
    padding: 0 1em;
}

.nav-li {
    padding: 0 1em;
}

/* FORMULARIO */
.formulario_subscripcion{
    display: flex;
    justify-content: center;
    background-color: var(--color-blue);
    width: 100%;
    margin: 0;  
}

.text_formulario{
    padding-top: 3%;
    padding-bottom: 3%;
    color: #A8DADC;
}

.formulario{
    max-width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 5%;
}

.form-control{
    margin-top: 5%;
    margin-bottom: 5%;
}

.boton_producto {
    background-color: var(--color-red);
    font-family: 'Kaushan Script', cursive;
    color: var(--color-white);
    border-color: var(--color-white);
    transition: all .2s;
    border: none;
}
.boton_producto:hover {
    color: var(--color-white);
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 6px 0px rgb(255 255 255 / 10%);
}

.boton_producto:active{
    text-decoration: none;
    color: var(--color-red);
}

.fuente{
    font-family: fantasy;
    font: size 10vw;
    max-width: 100%;
}

.parrafo {
    font-size: x-large;
}

.preguntas_frecuentes {
    display: flex;
    background-color: #A8DADC;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-content: center;

}

.titulof {
    display: flex;
}

.titulo_preg_frecuentes{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 5%;
    align-content: center;
    text-align: center;
}

.acordion_preguntas{
    width: 75%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.tit_acordion{
    background-color: var(--color-blue);
    color: #A8DADC;
    border-color: #A8DADC;
    opacity: 95%;

}

.tit_acordion:active{
    background-color: var(--color-blue);
    color: #A8DADC;
    border-color: #A8DADC;
}

.tit_acordion:hover {
    background-color: var(--color-blue);
    color: #A8DADC;
    border-color: #A8DADC;
}

.text_acordion{
    text-align: left;
    background-color: var(--color-blue);
    color: #A8DADC;
    border-color: #A8DADC;
}

.titulo-contenedor-productos {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--color-white);
    background-color: var(--color-red);
    height: 5em;
}

.titulo-productos {
    font-size: x-large;
    font-family: 'Kaushan Script', cursive;
}

.contenedor-productos {
    display: flex;
    background: var(--color-red);
}

.producto {
    width: 30%;
    border: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background: #d8e2eb;
    margin: 1em;
    border-radius: 5px;
}

.producto .producto-img {
    height: 300px;
    padding: 1em;
    width: 90%;
    margin: auto;
    border-radius: 10px;
}

.producto .producto-button {
    width: 50%;
    margin: auto;
    margin-bottom: 1em;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 4px 0px rgb(0 0 0 / 30%);
    background: var(--color-blue);
    color: var(--color-white);
    height: 30px;
    transition: all .2s;
}

.producto .producto-button:hover {
    background: var(--color-red);
    transform: scale(1.2);
}

.product-paragraph {
    font-size: 1em;
    text-align: center;
}

.see-more {
    display: flex;
    justify-content: center;
    background-color: var(--color-red);
}

.see-more .producto-button {
    max-width: 100%;
    width: 30%;
    margin-bottom: 1em;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 4px 0px rgb(0 0 0 / 30%);
    background: var(--color-blue);
    color: var(--color-white);
    height: 50px;
    transition: all .2s;
}


.see-more .producto-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 6px 1px rgb(255 255 255 / 20%);
}

.see-more a {
    text-decoration: none;
    color: var(--color-white);
}

.footer-text {
    font-size: calc(1em - 4px);
    margin-bottom: 0;
}

.footer-section {
    height: 64px;
    background-color: var(--color-blue);
    color: var(--color-white);
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
}



.accordion-button:not(.collapsed){
    background: var(--color-blue);
}

.preguntas_frecuentes {
    margin: 0;
}

.carousel-container {
    width: 80%;
    margin: auto;
    box-shadow: 0 0 4px 0px rgb(0 0 0 / 30%);
    background: #A8DADC;
}

.carousel-cont {
    background: #F1FAEE;
    padding-top: 40px;
}

@media screen and (max-width: 460px){
    .contenedor-productos {
        flex-direction: column;
    }

    .producto {
        width: 90%;
        margin-bottom: 25px;
    }
    
    .navigation-bar-container {
        display: flex;
    }

    .navigation {
        display: none;
    }
}

@media screen and (min-width: 461px) and (max-width: 991px) {
    .contenedor-productos {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .producto {
        margin: auto;
        width: 40%;
        margin-bottom: 25px;
    }

    .producto .producto-img {
        width: 85%;
    }

    .navigation-bar-container {
        display: flex;
    }

    .navigation {
        display: none;
    }
}



